@model wtime.Models.ProfiloOrario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProfiloOrario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroOre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroOre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
