@model wtime.Models.TipoRichiesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoRichiesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giornaliero)
        </dt>

        <dd>
            @if (Model.Giornaliero)
            {
                <i class="fa fa-check text-success" aria-hidden="true"></i>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTipoRichiesta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
