@model IEnumerable<wtime.Models.TipoRichiesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giornaliero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @if (item.Giornaliero)
            {
                <i class="fa fa-check text-success" aria-hidden="true"></i> 
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoRichiesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoRichiesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoRichiesta })
        </td>
    </tr>
}

</table>
